@font-face {
  font-display: swap;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/ubuntu-v21-latin-300.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ubuntu-v21-latin-regular.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/ubuntu-v21-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Aboreto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/aboreto-v2-latin-regular.woff2") format("woff2");
}

@theme {
  --font-aboreto: "Aboreto", display;
  --white-sub: #aaaaaa;
}
