@import "./base.css";
@import "tailwindcss";
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

#app {
  min-height: 100vh;
}

body {
  background: linear-gradient(90deg, #748a8f, #3a464b, #1c1f23);
  font-family: "Ubuntu", monospace;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

/* @media screen and (min-width: 1024px) {} */
